{{template "base" .}} 
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}} 
{{define "main"}}
<div class="snippet">
  <div class="metadata">
    <strong>
      {{.Snippet.Title}}
    </strong>
    <span>#{{.Snippet.ID}}</span>
  </div>
  <pre>
    <code>
      {{.Snippet.Content}}
    </code>
  </pre>
  <div class="metadata">
    <time>
      <!-- Created: {{.Snippet.Created}} -->
      <!-- this is a method call  -->
      <!-- Created: {{.Snippet.Created.Weekday}} -->
      <!-- this is passing arguments to a method  -->
      Created: {{.Snippet.Created.AddDate 0 6 0}}

    </time>
    <time>
      Expires: {{.Snippet.Expires}}
    </time>
  </div>
</div>
{{end}}
